.Header{
    background-color: aquamarine;
    height: 100vh;
    
}

P{
    background-color: blue;
    height: 100vh;
    padding: 2px;
    text-decoration: red;
    justify-content: space-around;
}

h1{
    color: blue;
    font-size: medium;

}

main{
    margin-top: 70px;

}

.tab{
    justify-content: center;
    display: grid;
    padding: 2px;
    margin: 4px;
    border: 1px;  
}

tr{
    height: 50px;
    width: 25px;
}

td{
    height: max-content;
}

thead{
    color:  red;
}

table{
    background-color: darkcyan;
}